.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app > h1 {
    text-align: center;
    font-size: 80px;
    color: paleturquoise;
    text-shadow: 1px 1px 1px black;
}

